* {
	box-sizing: border-box;
	font-weight: 300;
}
body {
	background-image: url('../images/bg-mt_rushmore-blue.jpg');
	background-repeat: no-repeat;
	background-color: #444;
	background-size: cover;
	color: #444;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
}
a {
	text-transform: uppercase;
	color: #444;
	text-decoration: none;
}
a:hover {
	color: rgb(41, 171, 226);
}
a.button {
	background: #fff;
	padding: 10px;
	border-radius: 3px;
	font-weight: 400;
	display: inline-block;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	transition-property: background, box-shadow;
	transition-duration: 0.3s;
}
a.button:hover {
	background: rgb(41, 171, 226);
	color: #fff;
	box-shadow: 0px 0px 0px 1px rgb(41, 171, 226);
}
.box {
	background: rgba(255, 255, 255, 0.8);
	width: 300px;
	padding: 40px;
	border-radius: 5px;
}
.app-icon {
	background: url('../images/activoter-logo-color.png') no-repeat #fff;
	background-size: 70%;
	background-position: center;
	width: 100px;
	height: 100px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	display: inline-block;
}
.logo {
	width: 100%;
}
.center {
	text-align: center;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}