* {
	font-weight: 300;
}
body {
	background-image: url('../images/bg-mt_rushmore-blue.jpg');
	background-repeat: no-repeat;
	background-color: rgb(41, 171, 226);
	background-size: cover;
	color: #444;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
}
a {
	text-transform: uppercase;
	color: #444;
	text-decoration: none;
	transition: 0.25s;
}
a:hover {
	color: rgb(41, 171, 226);
}
a.button {
	background: #fff;
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}
a.button:hover {
	background: rgb(41, 171, 226);
	color: #fff;
	font-weight: 400;
	box-shadow: 0px 0px 0px 2px rgb(41, 171, 226);
}
.box {
	background: rgba(255, 255, 255, 0.8);
	width: 300px;
	padding: 40px;
	border-radius: 5px;
}
.box img {
	width: 100%;
	max-width: 100px;
}
.center {
	text-align: center;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}